<div class="background">
  <div class="login">
      <div class="logo">
        <h1>Insignia Community</h1>
        <h2>A place to share knowledge and better understand the world</h2>
      </div>
    <div class="login-forms">
      <div class="auth-login">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
