@import "modules/mixins.scss";

#main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #FAFAFA;

  @include respond-to(desktop) {
    flex-direction: row;
  }
}

.main-col {
  width: 100%;
  margin-right: 175px;
}

/*Fix sizing for small screens*/
@media (max-width: 1000px) {
  .main-col {
    margin-right: 0;
  }

  #main-page {
    justify-content: flex-start;
  }
}
